@use 'colors';
@use 'components';
@use 'mixins' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1.6rem;
}

//NAV

.burger-btn {
	position: fixed;
	top: 20px;
	right: 20px;
	padding: 1em;
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
	z-index: 100;

	&:focus {
		outline: none;
		border: 1px solid rgba(255, 255, 255, 0.5);
		border-radius: 8px;
	}

	&:hover {
		.burger-btn__bars::after,
		.burger-btn__bars::before {
			width: 100%;
		}
	}

	&__box {
		position: relative;
		width: 40px;
		height: 30px;
	}

	&__bars,
	&__bars::after,
	&__bars::before {
		@include burgerBtn;
	}

	&__bars {
		width: 100%;

		&::after {
			top: 13px;
			width: 60%;
		}

		&::before {
			top: 27px;
			width: 30%;
			transition-delay: 0.1s;
		}
	}
}

//header

.header {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 2em;
	height: 75vh;
	text-align: center;
	color: colors.$pure-white;
	@include heroImages('../img/palm640.jpg');
	background-attachment: fixed;

	&__heading {
		font-family: 'Dancing Script', 'cursive';
		font-size: 5rem;
		font-weight: 300;
	}

	&__text {
		font-size: 2rem;
	}

	&__btn {
		margin-top: 2em;
		padding: 0.8em 1.6em;
		font-size: 1.4rem;
		background: colors.$pure-white;
		border: none;
		border-radius: 8px;
		color: colors.$dark;
		text-decoration: none;
		text-transform: uppercase;
		cursor: pointer;

		&::before {
			background-color: colors.$light-white;
		}
	}
}

//
//Media
//

@media (min-width: 768px) {
	.white-block {
		height: 50px;
		width: 45%;
	}

	.header {
		&__heading {
			font-size: 6.6rem;
		}

		&__text {
			font-size: 2.5rem;
		}
		&__btn {
			font-size: 1.7rem;
		}
	}
}

@media (min-width: 992px) {
	.burger-btn {
		top: 50px;
		right: 50px;
	}

	.header {
		background-image: colors.$blue-gradient, url('../img/palm1920.jpg');

		&__heading {
			font-size: 10rem;
		}
	}
}
